body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
nav {
  font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
p {
  color: #8f8f8f;
}
.pricing-header {
  color: black;
  font-size: 1.5rem;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.header-line {
  color: white;
  text-align: left;
  font-size: 3.5rem;
  line-height: 1.5;
}
.cta-text {
  width: 60%;
  margin: auto;
}
.features-text {
  width: 60%;
  margin: auto;
}
.card-text {
  font-weight: 600;
}
.navbar {
  padding: 0 0 4.5rem;
}
.container-fluid {
  padding: 3% 15% 7%;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.download {
  margin-top: 5%;
  margin-right: 5%;
}
.header-img {
  width:60%;
  transform: rotate(25deg);
  position: absolute;
}
.features-text {
  padding: 0 0 2.5% 0;
}
.middle {
  margin-bottom:1rem;
}
.middle:hover {
  color: #ff4c68;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}
.pricing-card-title {
  color: black;
  font-weight: bold;
}
.press-logo {
  width:15%;
  margin: 20px 20px 50px;
}
.pricing-column {
  padding: 3% 2%;
}
.footer-icons {
  color: black;
  margin: 1.5%;
}
#title {
  color: white;
  background-color: #ff4c68;
}
#features {
  margin: auto;
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
#header-text {
  padding-top: 5%;
  padding-right: 5%;
}
#header-image {
  padding-left: 8.5%;
}
#testimonials {
  background-color: #ef8172;
  color: white;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
#pricing {
  padding: 5%;
}

#cta {
  background-color: #ff4c68;
  padding: 3%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
#footer {
  padding: 3%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .header-img {
    padding-top: 5%;
    position: static;
    transform: rotate(0deg);
  }
}
